body{
  background-color: #FFCC99;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  font-family:monospace;
  font-size: 19px;
  font-weight: normal;
  padding: 20px;
  margin: 20px;
  }
}
