body{
  background-image: url(https://www.zastavki.com/pictures/1920x1080/2015/Backgrounds_Blue_Clouds_and_rays__background_109665_23.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align:left;
  font-family:arial;
  font-size: 19px;
  font-weight: normal;
  padding: 20px;
  margin: 20px;
  }
  h1{
    font-size: 35px;
    text-align: center;
    color: #FF6600;
  }
  h2{
    color: #003300;
    text-align: center;
  }
  .color{
    color: orange;
  }
  .box{
  position: absolute;
  left: 200px;
  top: 200px;
  background-color:white;
  text-align: left;
  padding: 20px;
  margin: 20px;
  width: 1400px;
  height: auto;
  }
