body{
  background-image: url(https://images.wallpaperscraft.ru/image/fon_novyy_god_vetki_91130_1920x1080.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align:left;
  font-family:monospace;
  font-size: 19px;
  font-weight: normal;
  padding: 20px;
  margin: 20px;
  }
  h1{
    font-size: 35px;
    text-align: center;
    color: #FF6600;
  }
  h2{
    color: #003300;
    text-align: center;
  }
  .box{
  position: absolute;
  left: 200px;
  background-color:#99CCFF;
  border: 3px solid #CC0000;
  color:;
  text-align: left;
  padding: 20px;
  margin: 20px;
  width: 1400px;
  height: auto;
  }
