body{
  background-image: url(https://s1.1zoom.ru/big3/231/Raccoons_Black_background_527089_1920x1080.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  font-family:monospace;
  font-size: 19px;
  padding: 20px;
  margin: 20px;
}
.box{
position: absolute;
left: 150px;
top: 300px;
background-color:white;
color:black;
text-align: left;
font-weight:bold;
padding: 20px;
margin: 20px;
width: 700px;
height: auto;
}
