body{
background-image:url(https://images7.alphacoders.com/316/316744.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
text-align: center;
font-family:monospace;
font-size: 18px;
font-weight: 400;
padding: 20px;
margin: 20px;
}
img{
  height:400px;
  width:350px;
}
.st{
  background-color: #AE4F55;
  color: #E1DDD8;
}
