body{
background-image: url(http://bgfons.com/upload/apples_PNG5094.png);
background-attachment: fixed;
background-repeat: no-repeat;
text-align: center;
font-family:monospace;
font-size: 19px;
font-weight: normal;
padding: 20px;
margin: 20px;
}
h1{
  font-size: 45px;
  color: #FFC100;
}
h2{
  font-size: 40px;
  color: #FFC100;
}
.box{
background-color:#FF4500;
color:#FFC100;
text-align: left;
padding: 20px;
margin: 20px;
width: 800px;
height: auto;
}
